<div style="display: none;padding:0 5px" class="" id="to_text_view">
	<div style="float: right;">
		<img width="40px" height="40px" class="img-thumbnail icon" alt="...">
	</div>
	<div style="float: right;">
		<div style="margin-right: 5px;margin-top: -5px;font-size: 14px;">
			<span class="text-primary name" style="margin-left: 5px;float: right;"></span>
			<span class="time text-secondary" style="float: right;"></span>
		</div>
		<span class="badge bg-success message" style="padding: 8px;margin-right: 5px;float: right;margin-top: 5px;;font-size: 1em;font-weight: normal;text-align: start;white-space: normal;"></span>
	</div>
</div>